<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>
			NeuroTx | Users
  </title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
  <!-- Custom fonts for this template-->
  <link th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
  <!-- Custom styles for this template-->
  <link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" />
</head>


<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form>
          <div class="form-group">
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
          </div>
          <a class="btn btn-primary btn-block" href="login.html">Reset Password</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="login.html">Dashboard</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script th:href="@{/resources/vendor/jquery/jquery.min.js"}></script>
  <script th:href="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- Core plugin JavaScript-->
  <script th:href="@{/resources/vendor/jquery-easing/jquery.easing.min.js/"></script>
    

<script th:inline="javascript">
/*<![CDATA[*/
var serverContext = [[@{/}]];

$(document).ready(function () {
    $('form').submit(function(event) {
    	savePass(event);
    });
    
    $(":password").keyup(function(){
        if($("#password").val() != $("#matchPassword").val()){
            $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        }else{
            $("#globalError").html("").hide();
        }
    });
    
    options = {
            common: {minChar:8},
            ui: {
                showVerdictsInsideProgressBar:true,
                showErrors:true,
                errorMessages:{
                      wordLength: /*[[#{error.wordLength}]]*/,
                      wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                      wordSequences: /*[[#{error.wordSequences}]]*/,
                      wordLowercase: /*[[#{error.wordLowercase}]]*/,
                      wordUppercase: /*[[#{error.wordUppercase}]]*/,
                      wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                      wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/'
                    }
                }
        };
     $('#password').pwstrength(options);
});

function savePass(event){
    event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
    if($("#password").val() != $("#matchPassword").val()){
        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        return;
    }
    var formData= $('form').serialize();
    $.post(serverContext + "user/updatePassword",formData ,function(data){
    	window.location.href = serverContext + "console.html" + "?message="+data.message;
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("InvalidOldPassword") > -1) {
            $("#errormsg").show().append(data.responseJSON.message);
        }
        else if(data.responseJSON.error.indexOf("InternalError") > -1){
            $("#errormsg").show().append(data.responseJSON.message);
        }
        else{
        	var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
                $("#globalError").show().html(item.defaultMessage);
            });
            errors = $.parseJSON(data.responseJSON.error);
            $.each( errors, function( index,item ){
                $("#globalError").show().append(item.defaultMessage+"<br/>");
            });
        }
    });
}
/*]]>*/ 

</script>
</body>

</html>