<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>
			NeuroTx | Users
		</title>
		<!-- Bootstrap core CSS-->
		<link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<!-- Custom fonts for this template-->
		<link th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<!-- Page level plugin CSS-->
		<link th:href="@{/resources/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet" />
		<!-- Custom styles for this template-->
		<link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" />
		
	</head>

	<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<a class="navbar-brand" href="#">NeuroTx</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
					  <a class="nav-link" href="homeAdmin.html">
						<i class="fa fa-fw fa-dashboard"></i>
						<span class="nav-link-text">Dashboard</span>
					  </a>
					</li>
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
			          <a class="nav-link" href="homeUsers.html">
			            <i class="fa fa-fw fa-users"></i>
			            <span class="nav-link-text">Users</span>
			          </a>
			        </li>
				</ul>
				<ul class="navbar-nav sidenav-toggler">
					<li class="nav-item">
						<a class="nav-link text-center" id="sidenavToggler">
							<i class="fa fa-fw fa-angle-left"></i>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<form class="form-inline my-2 my-lg-0 mr-lg-2">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Search for..." />
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="modal" data-target="#exampleModal">
							<i class="fa fa-fw fa-sign-out"></i>Logout
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="#">Dashboard</a>
					</li>
					 <li class="breadcrumb-item active">Users</li>
				</ol>
			</div>
	  
			<div class="col-md-12">
				<div>
					<a class="btn icon-btn btn-success" href="#" data-title="Add" data-toggle="modal" data-target="#addUser"><span class="fa fa-user-plus"></span> Add User</a>
				</div>
				<br/>
				<div class="table-responsive">	
					<table class="table table-bordered" id="mytable" width="100%" cellspacing="0">
						<thead>
							<th>
								<input type="checkbox" id="checkall" />
							</th>
							<th width="5%">Id</th>
							<th width="15%">Name</th>
							<th width="15%">Email</th>
							<th width="10%">HospitalName</th>
							<th width="15%">Address</th>
							<th width="10%">Country</th>
							<th width="10%">Roles</th>
							<th width="20%"><em class="fa fa-cog"></em></th>
						</thead>
						<tbody id="tbody">
						</tbody>
					</table>
				</div>
			</div>
			<!-- /.content-wrapper-->
			<footer class="sticky-footer">
			  <div class="container">
				<div class="text-center">
				  <small>Copyright © NeuroTx 2017</small>
				</div>
			  </div>
			</footer>
			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top">
			  <i class="fa fa-angle-up"></i>
			</a>
		</div>
	
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button>
			  </div>
			  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			  <div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" th:href="@{/logout}" >Logout</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
					</div>
					<div class="modal-body">

						<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
  
  		<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Change password</h4>
					</div>
				    <form role="formChangePassword" method="POST" enctype="multipart/form-data" action="adminChangePassword">
						<div class="modal-body">
							<div class="form-group">
						         <input class="form-control" id="email" type="email" aria-describedby="addressHelp" name="email" value="" required="required" placeholder="Enter your email" />
						         <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
						    </div>
							<div class="form-group">
								<input class="form-control" type="password" id="password" name="newPassword" value="" placeholder="Enter you password" required="required"/>
	             				<span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
	          				</div>
	          				<div class="form-group">
					        		<input class="form-control" type="password" id="matchPassword" name="matchingPassword" value="" placeholder="Enter confirm password" required="required"/>
	             				<span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
					    		</div>
	    					</div>
	    					
						<div class="modal-footer ">
							<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
    
		<!-- /.modal-add begin-->
		<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Add Report</h4>
					</div>
					<form role="form" method="POST" enctype="multipart/form-data" action="user/addUser">
						<div class="modal-body">
						 	<div class="form-group">
								<div class="form-row">
								  <div class="col-md-6">
								    <label for="fname">Full name</label>
								    <input class="form-control" id="fname" type="text" aria-describedby="nameHelp" placeholder="Enter full name" name="firstName" value="" required="required" />
								  </div>
								  <div class="col-md-6">
								    <label for="lname">Hospital Name</label>
								    <input class="form-control" id="lname" type="text" aria-describedby="nameHelp" name="hospitalName" value="" required="required" placeholder="Enter Hosptial name" />
								  </div>
								</div>
						    </div>
					       	<div class="form-group">
						        <label for="address">Address</label>
						        <input class="form-control" id="address" type="text" aria-describedby="addressHelp" name="address" value="" required="required" placeholder="Enter address" />
						    </div>
						 	<div class="form-group">
						       <label for="country" class="m-t-10">Country</label>
									<select name="country" class="form-control">
										<option value="">Country</option>
										<option value="AF">Afghanistan</option>
										<option value="AL">Albania</option>
										<option value="DZ">Algeria</option>
										<option value="AS">American Samoa</option>
										<option value="AD">Andorra</option>
										<option value="AO">Angola</option>
										<option value="AI">Anguilla</option>
										<option value="AR">Argentina</option>
										<option value="AM">Armenia</option>
										<option value="AW">Aruba</option>
										<option value="AU">Australia</option>
										<option value="AT">Austria</option>
										<option value="AZ">Azerbaijan</option>
										<option value="BS">Bahamas</option>
										<option value="BH">Bahrain</option>
										<option value="BD">Bangladesh</option>
										<option value="BB">Barbados</option>
										<option value="BY">Belarus</option>
										<option value="BE">Belgium</option>
										<option value="BZ">Belize</option>
										<option value="BJ">Benin</option>
										<option value="BM">Bermuda</option>
										<option value="BT">Bhutan</option>
										<option value="BO">Bolivia</option>
										<option value="BA">Bosnia and Herzegowina</option>
										<option value="BW">Botswana</option>
										<option value="BV">Bouvet Island</option>
										<option value="BR">Brazil</option>
										<option value="IO">British Indian Ocean Territory</option>
										<option value="BN">Brunei Darussalam</option>
										<option value="BG">Bulgaria</option>
										<option value="BF">Burkina Faso</option>
										<option value="BI">Burundi</option>
										<option value="KH">Cambodia</option>
										<option value="CM">Cameroon</option>
										<option value="CA">Canada</option>
										<option value="CV">Cape Verde</option>
										<option value="KY">Cayman Islands</option>
										<option value="CF">Central African Republic</option>
										<option value="TD">Chad</option>
										<option value="CL">Chile</option>
										<option value="CN">China</option>
										<option value="CX">Christmas Island</option>
										<option value="CC">Cocos (Keeling) Islands</option>
										<option value="CO">Colombia</option>
										<option value="KM">Comoros</option>
										<option value="CG">Congo</option>
										<option value="CD">Congo, the Democratic Republic of the</option>
										<option value="CK">Cook Islands</option>
										<option value="CR">Costa Rica</option>
										<option value="CI">Cote d'Ivoire</option>
										<option value="HR">Croatia (Hrvatska)</option>
										<option value="CU">Cuba</option>
										<option value="CY">Cyprus</option>
										<option value="CZ">Czech Republic</option>
										<option value="DK">Denmark</option>
										<option value="DJ">Djibouti</option>
										<option value="DM">Dominica</option>
										<option value="DO">Dominican Republic</option>
										<option value="EC">Ecuador</option>
										<option value="EG">Egypt</option>
										<option value="SV">El Salvador</option>
										<option value="GQ">Equatorial Guinea</option>
										<option value="ER">Eritrea</option>
										<option value="EE">Estonia</option>
										<option value="ET">Ethiopia</option>
										<option value="FK">Falkland Islands (Malvinas)</option>
										<option value="FO">Faroe Islands</option>
										<option value="FJ">Fiji</option>
										<option value="FI">Finland</option>
										<option value="FR">France</option>
										<option value="GF">French Guiana</option>
										<option value="PF">French Polynesia</option>
										<option value="TF">French Southern Territories</option>
										<option value="GA">Gabon</option>
										<option value="GM">Gambia</option>
										<option value="GE">Georgia</option>
										<option value="DE">Germany</option>
										<option value="GH">Ghana</option>
										<option value="GI">Gibraltar</option>
										<option value="GR">Greece</option>
										<option value="GL">Greenland</option>
										<option value="GD">Grenada</option>
										<option value="GP">Guadeloupe</option>
										<option value="GU">Guam</option>
										<option value="GT">Guatemala</option>
										<option value="GN">Guinea</option>
										<option value="GW">Guinea-Bissau</option>
										<option value="GY">Guyana</option>
										<option value="HT">Haiti</option>
										<option value="HM">Heard and Mc Donald Islands</option>
										<option value="VA">Holy See (Vatican City State)</option>
										<option value="HN">Honduras</option>
										<option value="HK">Hong Kong</option>
										<option value="HU">Hungary</option>
										<option value="IS">Iceland</option>
										<option value="IN">India</option>
										<option value="ID">Indonesia</option>
										<option value="IR">Iran (Islamic Republic of)</option>
										<option value="IQ">Iraq</option>
										<option value="IE">Ireland</option>
										<option value="IL">Israel</option>
										<option value="IT">Italy</option>
										<option value="JM">Jamaica</option>
										<option value="JP">Japan</option>
										<option value="JO">Jordan</option>
										<option value="KZ">Kazakhstan</option>
										<option value="KE">Kenya</option>
										<option value="KI">Kiribati</option>
										<option value="KP">Korea, Democratic People's Republic of</option>
										<option value="KR">Korea, Republic of</option>
										<option value="KW">Kuwait</option>
										<option value="KG">Kyrgyzstan</option>
										<option value="LA">Lao People's Democratic Republic</option>
										<option value="LV">Latvia</option>
										<option value="LB">Lebanon</option>
										<option value="LS">Lesotho</option>
										<option value="LR">Liberia</option>
										<option value="LY">Libyan Arab Jamahiriya</option>
										<option value="LI">Liechtenstein</option>
										<option value="LT">Lithuania</option>
										<option value="LU">Luxembourg</option>
										<option value="MO">Macau</option>
										<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
										<option value="MG">Madagascar</option>
										<option value="MW">Malawi</option>
										<option value="MY">Malaysia</option>
										<option value="MV">Maldives</option>
										<option value="ML">Mali</option>
										<option value="MT">Malta</option>
										<option value="MH">Marshall Islands</option>
										<option value="MQ">Martinique</option>
										<option value="MR">Mauritania</option>
										<option value="MU">Mauritius</option>
										<option value="YT">Mayotte</option>
										<option value="MX">Mexico</option>
										<option value="FM">Micronesia, Federated States of</option>
										<option value="MD">Moldova, Republic of</option>
										<option value="MC">Monaco</option>
										<option value="MN">Mongolia</option>
										<option value="MS">Montserrat</option>
										<option value="MA">Morocco</option>
										<option value="MZ">Mozambique</option>
										<option value="MM">Myanmar</option>
										<option value="NA">Namibia</option>
										<option value="NR">Nauru</option>
										<option value="NP">Nepal</option>
										<option value="NL">Netherlands</option>
										<option value="AN">Netherlands Antilles</option>
										<option value="NC">New Caledonia</option>
										<option value="NZ">New Zealand</option>
										<option value="NI">Nicaragua</option>
										<option value="NE">Niger</option>
										<option value="NG">Nigeria</option>
										<option value="NU">Niue</option>
										<option value="NF">Norfolk Island</option>
										<option value="MP">Northern Mariana Islands</option>
										<option value="NO">Norway</option>
										<option value="OM">Oman</option>
										<option value="PK">Pakistan</option>
										<option value="PW">Palau</option>
										<option value="PA">Panama</option>
										<option value="PG">Papua New Guinea</option>
										<option value="PY">Paraguay</option>
										<option value="PE">Peru</option>
										<option value="PH">Philippines</option>
										<option value="PN">Pitcairn</option>
										<option value="PL">Poland</option>
										<option value="PT">Portugal</option>
										<option value="PR">Puerto Rico</option>
										<option value="QA">Qatar</option>
										<option value="RE">Reunion</option>
										<option value="RO">Romania</option>
										<option value="RU">Russian Federation</option>
										<option value="RW">Rwanda</option>
										<option value="KN">Saint Kitts and Nevis</option>
										<option value="LC">Saint LUCIA</option>
										<option value="VC">Saint Vincent and the Grenadines</option>
										<option value="WS">Samoa</option>
										<option value="SM">San Marino</option>
										<option value="ST">Sao Tome and Principe</option>
										<option value="SA">Saudi Arabia</option>
										<option value="SN">Senegal</option>
										<option value="SC">Seychelles</option>
										<option value="SL">Sierra Leone</option>
										<option value="SG">Singapore</option>
										<option value="SK">Slovakia (Slovak Republic)</option>
										<option value="SI">Slovenia</option>
										<option value="SB">Solomon Islands</option>
										<option value="SO">Somalia</option>
										<option value="ZA">South Africa</option>
										<option value="GS">South Georgia and the South Sandwich Islands</option>
										<option value="ES">Spain</option>
										<option value="LK">Sri Lanka</option>
										<option value="SH">St. Helena</option>
										<option value="PM">St. Pierre and Miquelon</option>
										<option value="SD">Sudan</option>
										<option value="SR">Suriname</option>
										<option value="SJ">Svalbard and Jan Mayen Islands</option>
										<option value="SZ">Swaziland</option>
										<option value="SE">Sweden</option>
										<option value="CH">Switzerland</option>
										<option value="SY">Syrian Arab Republic</option>
										<option value="TW">Taiwan, Province of China</option>
										<option value="TJ">Tajikistan</option>
										<option value="TZ">Tanzania, United Republic of</option>
										<option value="TH">Thailand</option>
										<option value="TG">Togo</option>
										<option value="TK">Tokelau</option>
										<option value="TO">Tonga</option>
										<option value="TT">Trinidad and Tobago</option>
										<option value="TN">Tunisia</option>
										<option value="TR">Turkey</option>
										<option value="TM">Turkmenistan</option>
										<option value="TC">Turks and Caicos Islands</option>
										<option value="TV">Tuvalu</option>
										<option value="UG">Uganda</option>
										<option value="UA">Ukraine</option>
										<option value="AE">United Arab Emirates</option>
										<option value="GB">United Kingdom</option>
										<option value="US">United States</option>
										<option value="UM">United States Minor Outlying Islands</option>
										<option value="UY">Uruguay</option>
										<option value="UZ">Uzbekistan</option>
										<option value="VU">Vanuatu</option>
										<option value="VE">Venezuela</option>
										<option value="VN">Viet Nam</option>
										<option value="VG">Virgin Islands (British)</option>
										<option value="VI">Virgin Islands (U.S.)</option>
										<option value="WF">Wallis and Futuna Islands</option>
										<option value="EH">Western Sahara</option>
										<option value="YE">Yemen</option>
										<option value="ZM">Zambia</option>
										<option value="ZW">Zimbabwe</option>
									</select>
						 </div>
						 <div class="form-group">
								<label for="roleName">Role</label>
								<select class="form-control" name="roleName" id="roleName">
									<option value="ROLE_ADMIN">ROLE_ADMIN</option>
									<option value="ROLE_DOCTOR">ROLE_DOCTOR</option>
									<option value="ROLE_USER">ROLE_USER</option>
								</select>
						 </div>
						 <div class="form-group">
						         <label for="emailaddr">Email Address</label>
						         <input class="form-control" id="emailaddr" type="email" aria-describedby="addressHelp" name="email" value="" required="required" placeholder="Enter your email" />
						         <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
						  </div>
						  
						  <div class="form-group">
				            <div class="form-row">
				              <div class="col-md-6">
				                <label for="password">Password</label>
				                <input class="form-control" id="password" type="password" name="password" value="" placeholder="Enter password" required="required"/>
             				    <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
				             </div>
				             <div class="col-md-6">
				                <label for="matchPassword">Confirm password</label>
				                <input class="form-control" id="matchPassword" type="password" name="matchingPassword" value="" placeholder="Confirm password" required="required" />
				                <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
				             </div>
				            </div>
				          </div>
						  
						  </div>
						  <div class="modal-footer ">
							<input type="submit" class="btn btn-primary btn-block" id="submitbtn" name="submit" value="Add" />
						    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal-add end-->
    
		<!-- /.modal-add begin-->
		<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Edit User</h4>
					</div>
					<form method="post" enctype="multipart/form-data" action="updateUser">
						<div class="modal-body">
							<div class="form-group">
								<input class="form-control " type="text" placeholder="Id" id="id"  name="id" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label for="firstName">User Name</label>
								<input class="form-control " type="text" placeholder="User name" id="firstName"  name="firstName"/>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input class="form-control " type="text" placeholder="Email" id="email"  name="email"/>
							</div>
							<div class="form-group">
								<label for="hospitalName">Hospital name</label>
								<input class="form-control " type="text" placeholder="Hospital name" id="hospitalName"  name="hospitalName"/>
							</div>
							<div class="form-group">
								<label for="address">Address</label>
								<input class="form-control " type="text" placeholder="Address" id="address"  name="address" />
							</div>
							<div class="form-group">
								<label for="country">Country</label>
								<input class="form-control " type="text" placeholder="Country" id="country"  name="country"/>
							</div>
							<input name="userId" type="hidden" id="userId" />
						</div>
						<div class="modal-footer ">
							<button type="submit" id="btnUpdate" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal-add end-->

		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
		<!-- Page level plugin JavaScript-->
		<script th:src="@{/resources/vendor/datatables/jquery.dataTables.js}"></script>
		<!-- Core plugin JavaScript-->
		<script th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<script th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/resources/vendor/datatables/dataTables.bootstrap4.js}"></script>
		<!-- Custom scripts for all pages-->
		<script th:src="@{/resources/sb-admin.js}"></script>
		<!-- Custom scripts for this page-->
		<script th:src="@{/resources/sb-admin-datatables.min.js}"></script>
		<script th:src="@{/resources/addDocument.js}" type="text/javascript"></script>

		<script th:inline="javascript">
		/*<![CDATA[*/
		var serverContext = [[@{/}]];
			url = serverContext + "downloadDocument/";
			
			function deleteUser(id)
			{
				var completeUtl = url + id;
			}
			
			$(document).ready(function() {
				 
				 $("#sidenavToggler").trigger("click");$("#sidenavToggler").hide();
				 
				 userID = [[${#httpServletRequest.remoteUser}]];
				 document.getElementById('userId').value= userID;
				 $('#userId').val(userID);
				 
				 /*$('form').submit(function(event) {
						addUser(event);
				 });*/
				 
				 $.get(serverContext + "users", function(data, status){
					 	$("#mytable").find('tbody').empty()
						var trHTML = '';
					 	var openReports = 0;
					 	var inProgressReports = 0;
					 	var processedReports = 0;
					 	var errorReports = 0;
						$.each(data, function (i, item) {
							
							trHTML += '<tr> <td align="center">  <input type="checkbox" class="checkthis" /> </td>';
						 	 trHTML += '<td>' + item.id + '</td>';
							 trHTML += '<td>' + item.firstName + '</td>';
							 trHTML += '<td>' + item.email + '</td>';
							 trHTML += '<td>' + item.hospitalName + '</td>';
							 trHTML += '<td>' + item.address + '</td>';
							 trHTML += '<td>' + item.country + '</td>';
							 trHTML += '<td>' + item.roleName + '</td>';
							 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Edit"> ';
							 trHTML += '<a class="btn btn-primary btn-small" href="#editUser" data-id="'+ item.id + '" data-email="'+ item.email + '" data-name="'+ item.firstName + '" data-rName="'+ item.roleName + '" data-hname="'+ item.hospitalName +'" data-address="'+ item.address +'" data-country="'+ item.country +'" data-title="Edit" data-toggle="modal" data-target="#editUser"><span class="fa fa-pencil"></span></a>';
							 trHTML += '</i> <i data-placement="top" data-toggle="tooltip" title="Reset Password">';
							 trHTML += '<a class="btn btn-success btn-small href="#changePassword" data-email="'+ item.email + '" data-title="Change password" data-toggle="modal" data-target="#changePassword"><span class="fa fa-key"></span></a>';
							 trHTML += '</i> <i data-placement="top" data-toggle="tooltip" title="Delete">';
							 trHTML += '<button class="btn btn-success btn-small" onclick="deleteUser('+ item.id + ')"><span class="fa fa-trash-o"></span></button>';
							 trHTML += '</i> </td> </tr>';
						});
						$('#mytable').append(trHTML);
				});
				
				$('#mytable').DataTable();
				
				$('#editUser').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget); // Button that triggered the modal
					var id = button.data('id');
					var firstName = button.data('name');
					var email = button.data('email');
					var hospitalName = button.data('hname');
					var address = button.data('address');
					var country = button.data('country');
					var roleName = button.data('rName');

					var modal = $(this);
					modal.find('#id').val(id);
					modal.find('#firstName').val(firstName);
					//modal.find('#roleName').val(roleName);
					modal.find('#email').val(email);
					modal.find('#hospitalName').val(hospitalName);
					modal.find('#address').val(address);
					modal.find('#country').val(country);
				
				});
				
				$('#addUser').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget); // Button that triggered the modal

					var modal = $(this);
					modal.find('#firstName').val("");
					modal.find('#email').val("");
					modal.find('#hospitalName').val("");
					modal.find('#address').val("");
					modal.find('#country').val("");
				
				});
				
				$('#changePassword').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget); // Button that triggered the modal
					var email = button.data('email');
					
					var modal = $(this);
					modal.find('#email').val(email);
				
				});
				

				 $("#mytable #checkall").click(function() {
					 if ($("#mytable #checkall").is(':checked')) {
						 $("#mytable input[type=checkbox]").each(function() {
							 $(this).prop("checked", true);
						 });

					 } else {
						 $("#mytable input[type=checkbox]").each(function() {
							 $(this).prop("checked", false);
						 });
					 }
				 });

			 });
			 
		/*]]>*/ 

		</script>
	</body>
</html>
