<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>
			NeuroTx | Home
		</title>
		<!-- Bootstrap core CSS-->
		<link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<!-- Custom fonts for this template-->
		<link th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<!-- Page level plugin CSS-->
		<link th:href="@{/resources/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet" />
		<!-- Custom styles for this template-->
		<link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" />
		
		<style>
			
			.border-right {
			    border-right: 1px solid black;
			}
			.ui-state-focus
			{
			    color:White;
			    background:#96B202;
			    outline:none;
			}
		</style>
		
	</head>

	<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<a class="navbar-brand" href="#">
				<img alt="" th:src="@{/resources/logo_db.png}" height="30" width="30"/>
				NeuroTx
			</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
					  <a class="nav-link" href="#">
						<i class="fa fa-fw fa-dashboard"></i>
						<span class="nav-link-text">Dashboard</span>
					  </a>
					</li>
				</ul>
				<ul class="navbar-nav sidenav-toggler">
					<li class="nav-item">
						<a class="nav-link text-center" id="sidenavToggler">
							<i class="fa fa-fw fa-angle-left"></i>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <span th:text="${param.user[0]}">user</span>
						  <i class="fa fa-fw fa-cog"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="alertsDropdown">
						  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePassword">
						    <i class="fa fa-fw fa-key"></i>Change password
						  </a>
						  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">
						    <i class="fa fa-fw fa-sign-out"></i>Logout
						  </a>
					    </div>
			        </li>
				</ul>
			</div>
		</nav>
		<div class="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="#">Dashboard</a>
					</li>
				</ol>

				<!-- Icon Cards-->
				<div class="row">
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-primary o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-file-o"></i>
								</div>
								<div id="openReports" class="mr-5">Open</div>
							</div>
							<a id="openReportView" class="card-footer text-white clearfix small z-1" href="#">
								<span class="float-left">View Details</span>
								<span class="float-right">
									<i class="fa fa-angle-right"></i>
								</span>
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-warning o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-file-text-o"></i>
								</div>
								<div id="inProgressReports" class="mr-5">In-Progress</div>
							</div>
							<a id="inProgressReportView" class="card-footer text-white clearfix small z-1" href="#">
								<span class="float-left">View Details</span>
								<span class="float-right">
									<i class="fa fa-angle-right"></i>
								</span>
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-success o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-file-text"></i>
								</div>
								<div id="processedReports" class="mr-5">Processed</div>
							</div>
							<a id="processedReportView" class="card-footer text-white clearfix small z-1" href="#">
								<span class="float-left">View Details</span>
								<span class="float-right">
									<i class="fa fa-angle-right"></i>
								</span>
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-danger o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-file"></i>
								</div>
								<div id="errorReports" class="mr-5">Error</div>
							</div>
							<a id="errorReportView" class="card-footer text-white clearfix small z-1" href="#">
								<span class="float-left">View Details</span>
								<span class="float-right">
									<i class="fa fa-angle-right"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
	  
			<div class="col-md-12">
				<div class="form-group">
					<div class="form-row">
						<div class="col-md-6">
							<a class="btn icon-btn btn-success" href="#" data-title="Add" data-toggle="modal" data-target="#addReport"><span class="fa fa-plus"></span> Add Report</a>
						</div>
						<div class="col-md-6">
							<!-- <input class="form-control pull-righ" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search.." title="Type in a name" /> -->
							<div class="input-group">
				              <input class="form-control" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search..." />
				              <span class="input-group-btn">
				                <button class="btn btn-primary" type="button">
				                  <i class="fa fa-search"></i>
				                </button>
				              </span>
				            </div>
				        </div>
			        </div>
				</div>
				   
				<div class="table-responsive">	
					<table class="table table-bordered table-condensed" id="mytable" width="100%" cellspacing="0">
						<thead>
							<th width="5%">Id</th>
							<th width="20%">Report Name</th>
							<th width="10%">Impression</th>
							<th width="20%">Findings</th>
							<th width="10%">Priority</th>
							<th width="10%">Date Time</th>
							<th width="10%">Status</th>
							<th width="15%"><em class="fa fa-cog"></em></th>
						</thead>
						<tbody id="tbody">
						</tbody>
					</table>
				</div>
			</div>
			<!-- /.content-wrapper-->
			<footer class="sticky-footer">
			  <div class="container">
				<div class="text-center">
				  <small>Copyright © NeuroTx 2018</small>
				</div>
			  </div>
			</footer>
			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top">
			  <i class="fa fa-angle-up"></i>
			</a>
		</div>
	
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button>
			  </div>
			  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			  <div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" th:href="@{/logout}" >Logout</a>
			  </div>
			</div>
		  </div>
		</div>
	
		<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input class="form-control " type="text" placeholder="Mohsin" />
						</div>
						<div class="form-group">

							<input class="form-control " type="text" placeholder="Irshad" />
						</div>
						<div class="form-group">
							<textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>

						</div>
					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>

		<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
					</div>
					<div class="modal-body">

						<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
    
		<div class="modal fade" id="addConfirmation" tabindex="-1" role="dialog" aria-labelledby="Add Confirmation" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">New Record</h4>
					</div>
					<div class="modal-body">

						<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Record added successfully!</div>

					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Ok</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
    
		<!-- /.modal-addReport begin-->
		<div class="modal fade" id="addReport" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						<h4 class="modal-title custom_align" id="Heading"> Add Report</h4>
					</div>
					<form method="post" modelAttribute="fileBucket" enctype="multipart/form-data" action="saveReport">
						<div class="modal-body">
							<div class="form-row">
								<div class="col-md-6 border-right">
	             					<div class="form-group">
              							<h6> Patient Details</h6>
              						</div>
									<div class="form-group">
										<input class="form-control " type="text" placeholder="Patinet name" id="pname"  name="pname" />
									</div>
									<div class="form-group">
										<input class="form-control " type="text" placeholder="Age" id="age"  name="age" />
									</div>
									<div class="form-group">
										<input class="form-control " type="text" placeholder="Patient Id (Optional)" id="pid"  name="pid" />
									</div>
									<div class="form-group">
										 <input class="form-control" id="pmail" type="email" name="pmail" value="" placeholder="Enter patient email (Optional)" />
									</div>
									<div class="form-group">
										<input class="form-control " type="text" placeholder="Patinet mobile number (Optional)" id="pmobile"  name="pmobile" />
									</div>
	             				</div>
              					<div class="col-md-6">
              						<div class="form-group">
              							<h6> Report Details</h6>
              						</div>
									<div class="form-group">
										<input class="form-control " type="text" placeholder="Report name" id="name"  name="name" />
									</div>
									<div class="form-group">
										<input class="form-control " type="text" placeholder="Impression" id="category"  name="category" />
									</div>
									<div class="form-group">
										<textarea rows="2" class="form-control" placeholder="Findings" id="description"  name="description"></textarea>
									</div>
									<div class="form-group">
										<label for="priority">Priority</label>
										<select class="form-control" name="priority" id="priority">
											<option value="1">Urgent</option>
											<option value="2">Normal</option>
										</select>
									</div>
									<div class="form-grou">
										<label id="fileToUploadLbl" for="file" class="form-control-label">
											Select Report
										</label>
										<div></div>
										<label class="custom-file">
											<input type="file" id="file" name="file" class="custom-file-input" onchange="fileSelected()" />
											<span class="custom-file-control"></span>
										</label>
										<div id="fileDetails"></div>
									</div>
								</div>
             				</div>
             				<input name="userId" type="hidden" id="userId" />
						</div>
						<div class="modal-footer ">
							<button type="button" class="btn btn-success mr-auto"><span class="fa fa-money"></span> Pay</button>
							<button type="submit" class="btn btn-success" onclick="return validateDoc();"><span class="fa fa-plus"></span> Add</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal-addReport end-->
    
		<!-- /.modal-editReport begin-->
		<div class="modal fade" id="editReport" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title custom_align" id="Heading">Edit Report </h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times" aria-hidden="true"></span></button>
					</div>
					<form method="post" modelAttribute="fileBucket" enctype="multipart/form-data" action="updateReport">
						<div class="modal-body">
							<div class="form-row">
								<div class="col-md-6 border-right">
									<div class="form-group">
              							<h6> Patient Details</h6>
              						</div>
									<div class="form-group">
										<label for="pname">Patient Name</label>
										<input class="form-control " type="text" placeholder="Patinet name" id="pname"  name="pname" />
									</div>
									<div class="form-group">
										<label for="age">Patient Age</label>
										<input class="form-control " type="text" placeholder="Age" id="age"  name="age" />
									</div>
									<div class="form-group">
										<label for="pid">Patient Id</label>
										<input class="form-control " type="text" placeholder="Patient Id" id="pid"  name="pid" readonly="readonly"/>
									</div>
									<div class="form-group">
										 <label for="pmail">Patient e-mail</label>
										 <input class="form-control" id="pmail" type="email" name="pmail" value="" placeholder="Enter patient email (Optional)" />
									</div>
									<div class="form-group">
										<label for="pmobile">Patient mobile number</label>
										<input class="form-control " type="text" placeholder="Patinet mobile number (Optional)" id="pmobile"  name="pmobile" />
									</div>
	             				</div>
              					<div class="col-md-6">
              						<div class="form-group">
              							<h6> Report Details</h6>
              						</div>
									<div class="form-group">
										<label for="id">Report Id</label>
										<input class="form-control " type="text" placeholder="Id" id="id"  name="id" readonly="readonly"/>
									</div>
									<div class="form-group">
										<label for="name">Report Name</label>
										<input class="form-control " type="text" placeholder="Report name" id="name"  name="name" readonly="readonly"/>
									</div>
									<div class="form-group">
										<label for="category">Impression</label>
										<input class="form-control " type="text" placeholder="Impression" id="category"  name="category" />
									</div>
									<div class="form-group">
										<label for="description">Findings</label>	
										<textarea rows="2" class="form-control" placeholder="Findings" id="description"  name="description"></textarea>
										</div>
									<div class="form-group">
										<label for="priority">Priority</label>
										<select class="form-control" name="priority" id="priority">
											<option value="1">Urgent</option>
											<option value="2">Normal</option>
										</select>
									</div>
									<div class="form-group">
										<label class="custom-file">
											<input type="file" id="fileResponse" name="file" class="custom-file-input" onchange="editFileSelected()" />
											<span class="custom-file-control"></span>
										</label>
										<div id="editFileDetails"></div>
									</div>
								</div>
             				</div>
							<input name="userId" type="hidden" id="userId" />
						</div>
						<div class="modal-footer ">
							<button type="submit" id="btnUpdate" class="btn btn-success" ><span class="fa fa-pencil"></span> Update</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal-editReport end-->
		
		<!-- /.modal-changePassword begin-->
		<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title custom_align" id="Heading">Change Password </h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times" aria-hidden="true"></span></button>
					</div>
		            <form role="formChangePassword" id="formChangePassword" method="post" action="user/updatePassword" >
		                <div class="modal-body">
		                		<div class="form-group">
								<label for="oldpass">Old password:</label>
								<input class="form-control " type="password" placeholder="Old password" id="oldpass"  name="oldPassword" value="" />
							</div>
							<div class="form-group">
								<label for="password">New password:</label>
								<input class="form-control " type="password" placeholder="New password" id="password"  name="newPassword" value="" />
							</div>  
							<div class="form-group">
								<label for="matchPassword">Confirm password:</label>
								<input class="form-control " type="password" placeholder="New password" id="matchPassword"  name="matchingPassword" value="" />
							</div>       
	                   		<div id="globalError" class="alert alert-danger col-sm-12" style="display:none">error</div>
	               		</div>
		                	<div class="modal-footer ">
		                		<button class="btn btn-primary" type="submit" onclick="return savePass();"><span class="fa fa-pencil"></span> Change</button>
	                			<button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
		                </div>
		            </form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal-changePassword end-->

		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
		<!-- Page level plugin JavaScript-->
		<script th:src="@{/resources/vendor/datatables/jquery.dataTables.js}"></script>
		<!-- Core plugin JavaScript-->
		<script th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<script th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/resources/vendor/datatables/dataTables.bootstrap4.js}"></script>
		<!-- Custom scripts for all pages-->
		<script th:src="@{/resources/sb-admin.js}"></script>
		<!-- Custom scripts for this page-->
		<script th:src="@{/resources/sb-admin-datatables.min.js}"></script>
		<script th:src="@{/resources/addDocument.js}" type="text/javascript"></script>
		<script type="text/javascript" th:src="@{/resources/jquery.autocomplete.js}"></script>

		<script th:inline="javascript">
		/*<![CDATA[*/
		var serverContext = [[@{/}]];
			url = serverContext + "downloadDocument/";
			
			function downloadDocument(id)
			{
				var completeUtl = url + id;
				location.href = completeUtl;
			}
			
			function downloadProcessedDocument(id)
			{
				var downloadProcessDocUrl = serverContext + "downloadProcessedDocument/";
				var completeDownloadProcessDocUrl = downloadProcessDocUrl + id;
				location.href = completeDownloadProcessDocUrl;
			}
			
			function validateDoc()
			{
				var file = document.getElementById('file').files[0];
				if (file) {
					return true;
				}
				else
				{
					alert("Please upload report");
					return false;
				}
				return true;
			}
			
			function applyTableFilter(filterId)
			{
				userID = [[${#httpServletRequest.remoteUser}]];
				 document.getElementById('userId').value= userID;
				 $('#userId').val(userID);
				 //$.get(serverContext + "documents", function(data, status){
				 $.get(serverContext + "documentsByUserId/" + userID, function(data, status){
					 	$("#mytable").find('tbody').empty()
						var trHTML = '';
					 	var openReports = 0;
					 	var inProgressReports = 0;
					 	var processedReports = 0;
					 	var closedReports = 0;
						$.each(data, function (i, item) {
							if(item.status == filterId)
							 {
								 trHTML += '<tr> <td>' + item.id + '</td>';
								 trHTML += '<td>' + item.name + '</td>';
								 trHTML += '<td>' + item.category + '</td>';
								 trHTML += '<td>' + item.description + '</td>';
								 trHTML += '<td>' + item.hospitalName + '</td>';
								 trHTML += '<td>' + item.priorityString + '</td>';
								 trHTML += '<td>' + item.time + '</td>';
								 if(item.status == 4)
								 {
									 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Report Processed. Click here donwload processed report">';
									 trHTML += '<button class="btn btn-success btn-small" onclick="downloadProcessedDocument('+ item.id + ')"><span class="fa fa-check">Download</span></button>';
									 trHTML += '</i> </td>';
								 }
								 else
								 {
									 trHTML += '<td>' + item.statusString + '</td>';
								 }
								 
								 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Edit"> ';
								 trHTML += '<a class="btn btn-primary btn-small" href="#editReport" data-id="'+ item.id +'"  data-name="'+ item.name +'" data-category="'+ item.category +'" data-description="'+ item.description;
								 trHTML += '" data-priority="'+ item.priority +'" data-reqFileName="'+ item.reqFileName +'" data-status="'+ item.status;
								 trHTML += '" data-priority="'+ item.priority +'" data-reqFileName="'+ item.reqFileName +'" data-status="'+ item.status;
								 trHTML += '" data-pname="'+ item.pname +'" data-age="'+ item.age +'" data-pid="'+ item.pid + '" data-pmail="'+ item.pmail + '" data-pmobile="'+ item.pmobile ;
								 trHTML += '" data-title="Edit" data-toggle="modal" data-target="#editReport"><span class="fa fa-pencil"></span></a>';
									
								 trHTML += '</i> <i data-placement="top" data-toggle="tooltip" title="Download">';
								 trHTML += '<button class="btn btn-success btn-small" onclick="downloadDocument('+ item.id + ')"><span class="fa fa-download"></span></button>';
								 trHTML += '</i> </td> </tr>';
							 }
						});
						$('#mytable').append(trHTML);
						
				 });
				 $('#mytable').DataTable();
			}
			
			
			$(document).on("click", ".open-AddBookDialog", function () {
				 var myBookId = $(this).data('id');
				 $(".modal-body #name").val( myBookId );
			});

			$("#openReportView").click(function(e) {
			      e.preventDefault(); // if desired...
			      applyTableFilter(1);
			});
			
			$("#inProgressReportView").click(function(e) {
			      e.preventDefault(); // if desired...
			      applyTableFilter(2);
			});
			
			$("#processedReportView").click(function(e) {
			      e.preventDefault(); // if desired...
			      applyTableFilter(4);
			});
			
			$("#errorReportView").click(function(e) {
			      e.preventDefault(); // if desired...
			      applyTableFilter(3);
			});
			
			 $(document).ready(function() {
				 
				 $("#sidenavToggler").trigger("click");$("#sidenavToggler").hide();
				 
				 userID = [[${#httpServletRequest.remoteUser}]];

				 document.getElementById('userId').value= userID;
				 $('#userId').val(userID);
				 
				 
				 //$.get(serverContext + "documents", function(data, status){
				 $.get(serverContext + "documentsByUserId/" + userID, function(data, status){
					 	$("#mytable").find('tbody').empty()
						var trHTML = '';
					 	var openReports = 0;
					 	var inProgressReports = 0;
					 	var processedReports = 0;
					 	var errorReports = 0;
						$.each(data, function (i, item) {
							
							 trHTML += '<tr> <td>' + item.id + '</td>';
							 trHTML += '<td>' + item.name + '</td>';
							 trHTML += '<td>' + item.category + '</td>';
							 trHTML += '<td>' + item.description + '</td>';
							 trHTML += '<td>' + item.priorityString + '</td>';
							 trHTML += '<td>' + item.time + '</td>';
							 if(item.status == 4)
							 {
								 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Report Processed. Click here donwload processed report">';
								 trHTML += '<button class="btn btn-success btn-small" onclick="downloadProcessedDocument('+ item.id + ')"><span class="fa fa-check">Download</span></button>';
								 trHTML += '</i> </td>';
							 }
							 else
							 {
								 trHTML += '<td>' + item.statusString + '</td>';
							 }
							 
							 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Edit"> ';
							 trHTML += '<a class="btn btn-primary btn-small" href="#editReport" data-id="'+ item.id +'"  data-name="'+ item.name +'" data-category="'+ item.category +'" data-description="'+ item.description;
							 trHTML += '" data-priority="'+ item.priority +'" data-reqFileName="'+ item.reqFileName +'" data-status="'+ item.status;
							 trHTML += '" data-priority="'+ item.priority +'" data-reqFileName="'+ item.reqFileName +'" data-status="'+ item.status;
							 trHTML += '" data-pname="'+ item.pname +'" data-age="'+ item.age +'" data-pid="'+ item.pid + '" data-pmail="'+ item.pmail + '" data-pmobile="'+ item.pmobile ;
							 trHTML += '" data-title="Edit" data-toggle="modal" data-target="#editReport"><span class="fa fa-pencil"></span></a>';
								
							 trHTML += '</i> <i data-placement="top" data-toggle="tooltip" title="Download">';
							 trHTML += '<button class="btn btn-success btn-small" onclick="downloadDocument('+ item.id + ')"><span class="fa fa-download"></span></button>';
							 trHTML += '</i> </td> </tr>';
							 
							 if(item.status == 1)
							 {
								 openReports = openReports + 1;
							 }
							 else if(item.status == 2)
							 {
								 inProgressReports = inProgressReports + 1;
							 }
							 else if(item.status == 4)
							 {
								 processedReports = processedReports + 1;
							 }
							 else if(item.status == 3)
							 {
								 errorReports = errorReports + 1;
							 }
						});
						$('#mytable').append(trHTML);
						
						document.getElementById('openReports').innerHTML = openReports + ' Open';
						document.getElementById('inProgressReports').innerHTML = inProgressReports + ' In-Progress';
						document.getElementById('processedReports').innerHTML = processedReports + ' Processed';
						document.getElementById('errorReports').innerHTML = errorReports + ' Error';
				 });
				 
				 $('#mytable').dataTable( {
					 "bSort": false,
					   "paging": false,
					   "ordering": false,
					   "searching": false,
					   "bInfo": false
				 });
				
				$('#editReport').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget); // Button that triggered the modal
					var id = button.data('id');
					var name = button.data('name');
					var description = button.data('description');
					var category = button.data('category');
					var priority = button.data('priority');
					var status = button.data('status');
					var pname = button.data('pname');
					var age = button.data('age');
					var pid = button.data('pid');
					var pmail = button.data('pmail');
					var pmobile = button.data('pmobile');

					var modal = $(this);
					modal.find('#id').val(id);
					modal.find('#name').val(name);
					modal.find('#description').val(description);
					modal.find('#category').val(category);
					modal.find('#priority').val(priority);
					if(status == "4")
					 {
						modal.find('#btnUpdate').prop('disabled', true);
					 }
					modal.find('#pname').val(pname);
					modal.find('#age').val(age);
					modal.find('#pid').val(pid);
					modal.find('#pmail').val(pmail);
					modal.find('#pmobile').val(pmobile);
				
				});
				
				$('#addReport').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget); // Button that triggered the modal

					var modal = $(this);
					modal.find('#name').val("");
					modal.find('#description').val("");
					modal.find('#category').val("");
					modal.find('#priority').val("");
					modal.find('#status').val("");
					modal.find('#reqFileName').val("");
					modal.find('#pid').val("");
					modal.find('#pname').val("");
					modal.find('#age').val("");
					modal.find('#pmail').val("");
					modal.find('#pmobile').val("");
				
				});

				 $("#mytable #checkall").click(function() {
					 if ($("#mytable #checkall").is(':checked')) {
						 $("#mytable input[type=checkbox]").each(function() {
							 $(this).prop("checked", true);
						 });

					 } else {
						 $("#mytable input[type=checkbox]").each(function() {
							 $(this).prop("checked", false);
						 });
					 }
				 });
				 
				 $('#pname').devbridgeAutocomplete({
			          serviceUrl: 'suggestion',
			          paramName: 'searchstr',
			          minChars: 1,
			          autoSelectFirst: true,
			      });

			 });
			 
			 function savePass(event){
			    event.preventDefault();
			    $(".alert").html("").hide();
			    $(".error-list").html("");
			    if($("#password").val() != $("#matchPassword").val()){
			        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
			        return false;
			    }
			    var formData= $('form').serialize();
			    $.post(serverContext + "user/updatePassword",formData ,function(data){
			    		alert("Successfully changed the password");
			    })
			    .fail(function(data) {
			        alert(data.responseJSON.message);
			    		if(data.responseJSON.error.indexOf("InvalidOldPassword") > -1) {
			            $("#errormsg").show().append(data.responseJSON.message);
			        }
			        else if(data.responseJSON.error.indexOf("InternalError") > -1){
			            $("#errormsg").show().append(data.responseJSON.message);
			        }
			        else{
			        	var errors = $.parseJSON(data.responseJSON.message);
			            $.each( errors, function( index,item ){
			                $("#globalError").show().html(item.defaultMessage);
			            });
			            errors = $.parseJSON(data.responseJSON.error);
			            $.each( errors, function( index,item ){
			                $("#globalError").show().append(item.defaultMessage+"<br/>");
			            });
			        }
			    });
			    return false;
			}
				 
			 function myFunction() {
				  var input, filter, table, tr, td, i;
				  input = document.getElementById("myInput");
				  filter = input.value.toUpperCase();
				  table = document.getElementById("mytable");
				  var rows = table.getElementsByTagName("tr");
				  for (i = 1; i < rows.length; i++) {
					  var rowcells = rows[i].getElementsByTagName("td");
					  var isFound = false;
					  for (idx = 0; idx < rowcells.length - 1; idx++) {
						  if (rowcells[idx].innerHTML.toUpperCase().indexOf(filter) > -1) {
							  isFound = true;
						  }
					  }
					  if(isFound)
					  {
						  rows[i].style.display = "";
					  }
					  else
					  {
						  rows[i].style.display = "none";  
					  }
					  
				  }
				  
				  /*var cells = table.getElementsByTagName("td");
				  for (i = 0; i < cells.length; i++) {
					  if (cells[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
						cells[i].style.display = "";
						cells[i].innerHTML = "Search Testing";
				        alert("Testing 1");
				      } else {
				    	cells[i].innerHTML = "Search 1";
				    	cells[i].style.display = "none";
				        alert("Testing 2");
				      }
				  }*/
				  
				  $('#mytable').data.reload();
			  }	 
			 
		/*]]>*/ 

		</script>
		
	</body>
</html>
