<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title th:text="#{label.pages.home.title}">home</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body{ margin-top:20px; }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script th:src="@{/resources/addDocument.js}"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" th:text="#{label.pages.home.title}">home</a>
	    </div>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
	      </ul>
	  </div>
	</nav>
	<div class="container">
	        <h1 th:text="#{label.pages.home.message}">home</h1>
	</div>
    <form class="container" id="form1" enctype="multipart/form-data" method="post" action="Upload.aspx">
	    <div class="row setup-content" id="step-1">
	        <div class="col-xs-12">
	            <div class="col-md-12 well text-center">
	
	      <label for="fileToUpload">Select a File to Upload</label><br />
	      <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();"/>
	    </div>
	    <div id="fileName"></div>
	    <div id="fileSize"></div>
	    <div id="fileType"></div>
	    <div class="row">
	      <input type="button" onclick="uploadFile()" value="Upload" />
	    </div>
	    <div id="progressNumber"></div>
	
	            </div>
	        </div>
	    </div>
  	</form>
    
    
</body>

</html>

