<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title th:text="#{label.pages.home.title}">home</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body{ margin-top:20px; }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script th:src="@{/resources/addDocument.js}"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" th:text="#{label.pages.home.title}">home</a>
	    </div>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
	      </ul>
	  </div>
	</nav>
	<div class="container">
	        <h1 th:text="#{label.pages.home.message}">home</h1>
	</div>
	<form method="post" modelAttribute="fileBucket" enctype="multipart/form-data" action="saveReport">
		Upload File: <input type="file" name="file" />
		<br /><br />
		Description: <input type="text" name="desc"/>
		<br/><br/><input type="submit" value="Upload" /> 
	</form>
</body>

</html>

