<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>
			NeuroTx | Admin
		</title>
		<!-- Bootstrap core CSS-->
		<link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<!-- Custom fonts for this template-->
		<link th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
		<!-- Page level plugin CSS-->
		<link th:href="@{/resources/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet" />
		<!-- Custom styles for this template-->
		<link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" />
		
	</head>

	<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<a class="navbar-brand" href="#">NeuroTx</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
					  <a class="nav-link" href="homeAdmin.html">
						<i class="fa fa-fw fa-dashboard"></i>
						<span class="nav-link-text">Dashboard</span>
					  </a>
					</li>
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
			          <a class="nav-link" href="homeUsers.html">
			            <i class="fa fa-fw fa-users"></i>
			            <span class="nav-link-text">Users</span>
			          </a>
			        </li>
				</ul>
				<ul class="navbar-nav sidenav-toggler">
					<li class="nav-item">
						<a class="nav-link text-center" id="sidenavToggler">
							<i class="fa fa-fw fa-angle-left"></i>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<form class="form-inline my-2 my-lg-0 mr-lg-2">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Search for..." />
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <span th:text="${param.user[0]}"></span>			 
						  <i class="fa fa-fw fa-cog"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="alertsDropdown">
						  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">
						    <i class="fa fa-fw fa-sign-out"></i>Logout
						  </a>
					    </div>
			        </li>
				</ul>
			</div>
		</nav>
		<div class="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="homeAdmin.html">Dashboard</a>
					</li>
				</ol>
			</div>
	  
			<div class="col-md-12">
				<div class="table-responsive">	
					<table class="table table-bordered" id="mytable" width="100%" cellspacing="0">
						<thead>
							<th>
								<input type="checkbox" id="checkall" />
							</th>
							<th width="5%">Id</th>
							<th width="20%">Report Name</th>
							<th width="10%">Category</th>
							<th width="15%">Description</th>
							<th width="10%">Hospital Name</th>
							<th width="10%">Priority</th>
							<th width="10%">Date Time</th>
							<th width="10%">Status</th>
							<th width="10%"><em class="fa fa-cog"></em></th>
						</thead>
						<tbody id="tbody">
						</tbody>
					</table>
				</div>
			</div>
			<!-- /.content-wrapper-->
			<footer class="sticky-footer">
			  <div class="container">
				<div class="text-center">
				  <small>Copyright © Neurotx 2017</small>
				</div>
			  </div>
			</footer>
			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top">
			  <i class="fa fa-angle-up"></i>
			</a>
		</div>
	
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button>
			  </div>
			  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			  <div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" th:href="@{/logout}" >Logout</a>
			  </div>
			</div>
		  </div>
		</div>
	
		<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input class="form-control " type="text" placeholder="Mohsin" />
						</div>
						<div class="form-group">

							<input class="form-control " type="text" placeholder="Irshad" />
						</div>
						<div class="form-group">
							<textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>

						</div>
					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>

		<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
					</div>
					<div class="modal-body">

						<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
    
		<div class="modal fade" id="addConfirmation" tabindex="-1" role="dialog" aria-labelledby="Add Confirmation" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">New Record</h4>
					</div>
					<div class="modal-body">

						<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Record added successfully!</div>

					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Ok</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
    
		<!-- /.modal-add begin-->
		<div class="modal fade" id="addReport" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Add Report</h4>
					</div>
					<form method="post" modelAttribute="fileBucket" enctype="multipart/form-data" action="saveReport">
						<div class="modal-body">
							<div class="form-group">
								<input class="form-control " type="text" placeholder="Report name" id="name"  name="name" />
							</div>
							<div class="form-group">
		
								<input class="form-control " type="text" placeholder="Category" id="category"  name="category" />
							</div>
							<div class="form-group">
								<textarea rows="2" class="form-control" placeholder="Description" id="description"  name="description"></textarea>
		
							</div>
							<div class="form-group">
								<label for="priority">Priority</label>
								<select class="form-control" name="priority" id="priority">
									<option value="1">Urgent</option>
									<option value="2">High</option>
									<option value="3">Medium</option>
									<option value="4">Low</option>
								</select>
							</div>
							<div class="form-grou">
								<label id="fileToUploadLbl" for="file" class="form-control-label">
									Select Report
								</label>
								<div></div>
								<label class="custom-file">
									<input type="file" id="file" name="file" class="custom-file-input" onchange="fileSelected()" />
									<span class="custom-file-control"></span>
								</label>
								<div id="fileDetails"></div>
							</div>
							<input name="userId" type="hidden" id="userId" />
						</div>
						<div class="modal-footer ">
							<button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Add</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal-add end-->
    
		<!-- /.modal-add begin-->
		<div class="modal fade" id="editReport" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h4 class="modal-title custom_align" id="Heading">Edit Report</h4>
					</div>
					<form method="post" modelAttribute="fileBucket" enctype="multipart/form-data" action="updateProcessedReport">
						<div class="modal-body">
							<div class="form-group">
								<input class="form-control " type="text" placeholder="Id" id="id"  name="id" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label for="name">Report Name</label>
								<input class="form-control " type="text" placeholder="Report name" id="name"  name="name" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label for="category">Category</label>
								<input class="form-control " type="text" placeholder="Category" id="category"  name="category" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label for="description">Description</label>	
								<textarea rows="2" class="form-control" placeholder="Description" id="description"  name="description"></textarea>
							</div>
							<div class="form-group">
								<label for="priorityString">Priority</label>
								<input class="form-control " type="text" placeholder="Priority" id="priorityString"  name="priorityString" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label for="status">Status</label>
								<select class="form-control" name="status" id="status">
									<option value="1">Open</option>
									<option value="2">In-Process</option>
									<option value="3">Re-Submit</option>
									<option value="4">Processed</option>
								</select>
							</div>
							<div class="form-group">
								<label class="custom-file">
									<input type="file" id="file" name="file" class="custom-file-input" onchange="editFileSelected()" />
									<span class="custom-file-control"></span>
								</label>
								<div id="editFileDetails"></div>
							</div>
							<input name="userId" type="hidden" id="userId" />
						</div>
						<div class="modal-footer ">
							<button type="submit" id="btnUpdate" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal-add end-->

		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
		<!-- Page level plugin JavaScript-->
		<script th:src="@{/resources/vendor/datatables/jquery.dataTables.js}"></script>
		<!-- Core plugin JavaScript-->
		<script th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<script th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/resources/vendor/datatables/dataTables.bootstrap4.js}"></script>
		<!-- Custom scripts for all pages-->
		<script th:src="@{/resources/sb-admin.js}"></script>
		<!-- Custom scripts for this page-->
		<script th:src="@{/resources/sb-admin-datatables.min.js}"></script>
		<script th:src="@{/resources/addDocument.js}" type="text/javascript"></script>

		<script th:inline="javascript">
		/*<![CDATA[*/
		var serverContext = [[@{/}]];
			url = serverContext + "downloadDocument/";
			
			function downloadDocument(id)
			{
				var completeUtl = url + id;
				location.href = completeUtl;
			}
			
			function applyTableFilter(filterId)
			{
				userID = [[${#httpServletRequest.remoteUser}]];
				 document.getElementById('userId').value= userID;
				 $('#userId').val(userID);
				 //$.get(serverContext + "documents", function(data, status){
				 $.get(serverContext + "documents", function(data, status){
					 	$("#mytable").find('tbody').empty()
						var trHTML = '';
					 	var openReports = 0;
					 	var inProgressReports = 0;
					 	var processedReports = 0;
					 	var closedReports = 0;
						$.each(data, function (i, item) {
							if(item.status == filterId)
							 {
								 trHTML += '<tr> <td align="center">  <input type="checkbox" class="checkthis" /> </td>';
							 	 trHTML += '<td>' + item.id + '</td>';
								 trHTML += '<td>' + item.name + '</td>';
								 trHTML += '<td>' + item.category + '</td>';
								 trHTML += '<td>' + item.description + '</td>';
								 trHTML += '<td>' + item.hospitalName + '</td>';
								 trHTML += '<td>' + item.priorityString + '</td>';
								 trHTML += '<td>' + item.time + '</td>';
								 if(item.status == 4)
								 {
									 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Report Processed. Click here donwload processed report">';
									 trHTML += '<button class="btn btn-success btn-small" onclick="downloadProcessedDocument('+ item.id + ')"><span class="fa fa-check">Done</span></button>';
									 trHTML += '</i> </td>';
								 }
								 else
								 {
									 trHTML += '<td>' + item.statusString + '</td>';
								 }
								 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Edit"> ';
								 trHTML += '<a class="btn btn-primary btn-small" href="#editReport" data-id="'+ item.id +'"  data-name="'+ item.name +'" data-category="'+ item.category +'" data-description="'+ item.description +'" data-priorityString="'+ item.priorityString +'" data-reqFileName="'+ item.reqFileName +'" data-status="'+ item.status +'" data-title="Edit" data-toggle="modal" data-target="#editReport"><span class="fa fa-pencil"></span></a>';
									
								 trHTML += '</i> <i data-placement="top" data-toggle="tooltip" title="Download">';
								 trHTML += '<button class="btn btn-success btn-small" onclick="downloadDocument('+ item.id + ')"><span class="fa fa-download"></span></button>';
								 trHTML += '</i> </td> </tr>';
							 
							 }
						});
						$('#mytable').append(trHTML);
						
				 });
				 $('#mytable').DataTable();
			}
			
			
			$(document).on("click", ".open-AddBookDialog", function () {
				 var myBookId = $(this).data('id');
				 $(".modal-body #name").val( myBookId );
			});
			
			$("#openReportView").click(function(e) {
			      e.preventDefault(); // if desired...
			      applyTableFilter(1);
			});
			
			$("#inProgressReportView").click(function(e) {
			      e.preventDefault(); // if desired...
			      applyTableFilter(2);
			});
			
			$("#processedReportView").click(function(e) {
			      e.preventDefault(); // if desired...
			      applyTableFilter(4);
			});
			
			$("#errorReportView").click(function(e) {
			      e.preventDefault(); // if desired...
			      applyTableFilter(3);
			});

			
			 $(document).ready(function() {
				 
				 $("#sidenavToggler").trigger("click");$("#sidenavToggler").hide();
				 
				 userID = [[${#httpServletRequest.remoteUser}]];
				 document.getElementById('userId').value= userID;
				 $('#userId').val(userID);
				 //$.get(serverContext + "documents", function(data, status){
				 $.get(serverContext + "documents", function(data, status){
					 	$("#mytable").find('tbody').empty()
						var trHTML = '';
					 	var openReports = 0;
					 	var inProgressReports = 0;
					 	var processedReports = 0;
					 	var errorReports = 0;
						$.each(data, function (i, item) {
							
							 trHTML += '<tr> <td align="center">  <input type="checkbox" class="checkthis" /> </td>';
							 trHTML += '<td>' + item.id + '</td>';
							 trHTML += '<td>' + item.name + '</td>';
							 trHTML += '<td>' + item.category + '</td>';
							 trHTML += '<td>' + item.description + '</td>';
							 trHTML += '<td>' + item.hospitalName + '</td>';
							 trHTML += '<td>' + item.priorityString + '</td>';
							 trHTML += '<td>' + item.time + '</td>';
							 if(item.status == 4)
							 {
								 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Report Processed. Click here donwload processed report">';
								 trHTML += '<button class="btn btn-success btn-small" onclick="downloadProcessedDocument('+ item.id + ')"><span class="fa fa-check">Done</span></button>';
								 trHTML += '</i> </td>';
							 }
							 else
							 {
								 trHTML += '<td>' + item.statusString + '</td>';
							 }
							 trHTML += '<td> <i data-placement="top" data-toggle="tooltip" title="Edit"> ';
							 trHTML += '<a class="btn btn-primary btn-small" href="#editReport" data-id="'+ item.id +'"  data-name="'+ item.name +'" data-category="'+ item.category +'" data-description="'+ item.description +'" data-pstr="'+ item.priorityString +'" data-reqFileName="'+ item.reqFileName +'" data-status="'+ item.status +'" data-title="Edit" data-toggle="modal" data-target="#editReport"><span class="fa fa-pencil"></span></a>';
							 
							 trHTML += '</i> <i data-placement="top" data-toggle="tooltip" title="Download">';
							 trHTML += '<button class="btn btn-success btn-small" onclick="downloadDocument('+ item.id + ')"><span class="fa fa-download"></span></button>';
							 trHTML += '</i> </td> </tr>';
							 
							 if(item.status == 1)
							 {
								 openReports = openReports + 1;
							 }
							 else if(item.status == 2)
							 {
								 inProgressReports = inProgressReports + 1;
							 }
							 else if(item.status == 4)
							 {
								 processedReports = processedReports + 1;
							 }
							 else if(item.status == 3)
							 {
								 errorReports = errorReports + 1;
							 }
						});
						$('#mytable').append(trHTML);
						
						document.getElementById('openReports').innerHTML = 'Open <br><center><h3>' + openReports + '</h3></center>';
						document.getElementById('inProgressReports').innerHTML = 'In-Progress <br><center><h3>' + inProgressReports + '</h3></center>';
						document.getElementById('processedReports').innerHTML = 'Processed <br><center><h3>' + processedReports + '</h3></center>';
						document.getElementById('errorReports').innerHTML = 'Error<br><center><h3>' + errorReports + '</h3></center>';
						
				 });
				 $('#mytable').DataTable();
				
				$('#editReport').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget); // Button that triggered the modal
					var id = button.data('id');
					var name = button.data('name');
					var description = button.data('description');
					var category = button.data('category');
					var priorityString = button.data('pstr');
					var status = button.data('status');
					//var reqFileName = button.data('reqFileName');

					var modal = $(this);
					modal.find('#id').val(id);
					modal.find('#name').val(name);
					modal.find('#description').val(description);
					modal.find('#category').val(category);
					modal.find('#priorityString').val(priorityString);
					modal.find('#status').val(status);
					if(status == "4")
					 {
						modal.find('#btnUpdate').prop('disabled', true);
					 }
					
					//modal.find('#reqFileName').val(reqFileName);
				
				});
				
				$('#addReport').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget); // Button that triggered the modal

					var modal = $(this);
					modal.find('#name').val("");
					modal.find('#description').val("");
					modal.find('#category').val("");
					modal.find('#priority').val("");
					modal.find('#status').val("");
					modal.find('#reqFileName').val("");
				
				});
				

				 $("#mytable #checkall").click(function() {
					 if ($("#mytable #checkall").is(':checked')) {
						 $("#mytable input[type=checkbox]").each(function() {
							 $(this).prop("checked", true);
						 });

					 } else {
						 $("#mytable input[type=checkbox]").each(function() {
							 $(this).prop("checked", false);
						 });
					 }
				 });

			 });
			 
		/*]]>*/ 

		</script>
	</body>
</html>
