<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
	<link rel="stylesheet" th:href="@{/resources/login.css}"/>
	<title>
		NeuroTx | Login
	</title>
	<script th:inline="javascript">
	/*<![CDATA[*/
		function validate() {
	        if (document.f.username.value == "" && document.f.password.value == "") {
	            alert(/*[[#{message.username} + #{message.password}]]*/);
	            document.f.username.focus();
	            return false;
	        }
	        if (document.f.username.value == "") {
	            alert(/*[[#{message.username}]]*/);
	            document.f.username.focus();
	            return false;
	        }
	        if (document.f.password.value == "") {
	            alert(/*[[#{message.password}]]*/);
	            document.f.password.focus();
	            return false;
	        }
	    }
	    
	/*]]>*/ 
	</script>
	<style type="text/css">
	.wrapper{width:500px;margin-left:auto;margin-right:auto}
	label{padding-left:0 !important}
	</style>
</head>
<body>
	<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
	<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<h1 class="text-center login-title">Sign in</h1>
				<div class="account-wall">
					<img class="profile-img" th:src="@{/resources/logo-2.png}"
						alt="" />
					<form class="form-signin" name='f' action="login" method='POST' onsubmit="return validate();">
						<input type="text" class="form-control" placeholder="Email" name='username' value='' autofocus="true" />
						<input type="password" class="form-control" name='password' placeholder="Password" />
						<button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">
							Sign in</button>
						<label class="checkbox pull-left">
							<input type="checkbox" value="remember-me" />
							Remember me
						</label>
						<a th:href="@{/forgetPassword.html}" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
					</form>
				</div>
				<a th:href="@{/registration.html}" class="text-center new-account">Create an account </a>
			</div>
		</div>
	</div>
</body>

</html>