<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>NeuroTx | Login</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
  <!-- Custom fonts for this template-->
  <link th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
  <!-- Custom styles for this template-->
  <link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" />
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form role="form" action="/" method="POST" modelAttribute="fileBucket" enctype="multipart/form-data">
		  <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="fname">Full name</label>
                <input class="form-control" id="fname" type="text" aria-describedby="nameHelp" placeholder="Enter full name" name="firstName" value="" required="required" />
              </div>
              <div class="col-md-6">
                <label for="lname">Hospital Name</label>
                <input class="form-control" id="lname" type="text" aria-describedby="nameHelp" name="hospitalName" value="" required="required" placeholder="Enter Hosptial name" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input class="form-control" id="address" type="text" aria-describedby="addressHelp" name="address" value="" required="required" placeholder="Enter address" />
          </div>
		  <div class="form-group">
          <label for="country" class="m-t-10">Country</label>
			<select name="country" class="form-control">
				<option value="">Country</option>
				<option value="AF">Afghanistan</option>
				<option value="AL">Albania</option>
				<option value="DZ">Algeria</option>
				<option value="AS">American Samoa</option>
				<option value="AD">Andorra</option>
				<option value="AO">Angola</option>
				<option value="AI">Anguilla</option>
				<option value="AR">Argentina</option>
				<option value="AM">Armenia</option>
				<option value="AW">Aruba</option>
				<option value="AU">Australia</option>
				<option value="AT">Austria</option>
				<option value="AZ">Azerbaijan</option>
				<option value="BS">Bahamas</option>
				<option value="BH">Bahrain</option>
				<option value="BD">Bangladesh</option>
				<option value="BB">Barbados</option>
				<option value="BY">Belarus</option>
				<option value="BE">Belgium</option>
				<option value="BZ">Belize</option>
				<option value="BJ">Benin</option>
				<option value="BM">Bermuda</option>
				<option value="BT">Bhutan</option>
				<option value="BO">Bolivia</option>
				<option value="BA">Bosnia and Herzegowina</option>
				<option value="BW">Botswana</option>
				<option value="BV">Bouvet Island</option>
				<option value="BR">Brazil</option>
				<option value="IO">British Indian Ocean Territory</option>
				<option value="BN">Brunei Darussalam</option>
				<option value="BG">Bulgaria</option>
				<option value="BF">Burkina Faso</option>
				<option value="BI">Burundi</option>
				<option value="KH">Cambodia</option>
				<option value="CM">Cameroon</option>
				<option value="CA">Canada</option>
				<option value="CV">Cape Verde</option>
				<option value="KY">Cayman Islands</option>
				<option value="CF">Central African Republic</option>
				<option value="TD">Chad</option>
				<option value="CL">Chile</option>
				<option value="CN">China</option>
				<option value="CX">Christmas Island</option>
				<option value="CC">Cocos (Keeling) Islands</option>
				<option value="CO">Colombia</option>
				<option value="KM">Comoros</option>
				<option value="CG">Congo</option>
				<option value="CD">Congo, the Democratic Republic of the</option>
				<option value="CK">Cook Islands</option>
				<option value="CR">Costa Rica</option>
				<option value="CI">Cote d'Ivoire</option>
				<option value="HR">Croatia (Hrvatska)</option>
				<option value="CU">Cuba</option>
				<option value="CY">Cyprus</option>
				<option value="CZ">Czech Republic</option>
				<option value="DK">Denmark</option>
				<option value="DJ">Djibouti</option>
				<option value="DM">Dominica</option>
				<option value="DO">Dominican Republic</option>
				<option value="EC">Ecuador</option>
				<option value="EG">Egypt</option>
				<option value="SV">El Salvador</option>
				<option value="GQ">Equatorial Guinea</option>
				<option value="ER">Eritrea</option>
				<option value="EE">Estonia</option>
				<option value="ET">Ethiopia</option>
				<option value="FK">Falkland Islands (Malvinas)</option>
				<option value="FO">Faroe Islands</option>
				<option value="FJ">Fiji</option>
				<option value="FI">Finland</option>
				<option value="FR">France</option>
				<option value="GF">French Guiana</option>
				<option value="PF">French Polynesia</option>
				<option value="TF">French Southern Territories</option>
				<option value="GA">Gabon</option>
				<option value="GM">Gambia</option>
				<option value="GE">Georgia</option>
				<option value="DE">Germany</option>
				<option value="GH">Ghana</option>
				<option value="GI">Gibraltar</option>
				<option value="GR">Greece</option>
				<option value="GL">Greenland</option>
				<option value="GD">Grenada</option>
				<option value="GP">Guadeloupe</option>
				<option value="GU">Guam</option>
				<option value="GT">Guatemala</option>
				<option value="GN">Guinea</option>
				<option value="GW">Guinea-Bissau</option>
				<option value="GY">Guyana</option>
				<option value="HT">Haiti</option>
				<option value="HM">Heard and Mc Donald Islands</option>
				<option value="VA">Holy See (Vatican City State)</option>
				<option value="HN">Honduras</option>
				<option value="HK">Hong Kong</option>
				<option value="HU">Hungary</option>
				<option value="IS">Iceland</option>
				<option value="IN">India</option>
				<option value="ID">Indonesia</option>
				<option value="IR">Iran (Islamic Republic of)</option>
				<option value="IQ">Iraq</option>
				<option value="IE">Ireland</option>
				<option value="IL">Israel</option>
				<option value="IT">Italy</option>
				<option value="JM">Jamaica</option>
				<option value="JP">Japan</option>
				<option value="JO">Jordan</option>
				<option value="KZ">Kazakhstan</option>
				<option value="KE">Kenya</option>
				<option value="KI">Kiribati</option>
				<option value="KP">Korea, Democratic People's Republic of</option>
				<option value="KR">Korea, Republic of</option>
				<option value="KW">Kuwait</option>
				<option value="KG">Kyrgyzstan</option>
				<option value="LA">Lao People's Democratic Republic</option>
				<option value="LV">Latvia</option>
				<option value="LB">Lebanon</option>
				<option value="LS">Lesotho</option>
				<option value="LR">Liberia</option>
				<option value="LY">Libyan Arab Jamahiriya</option>
				<option value="LI">Liechtenstein</option>
				<option value="LT">Lithuania</option>
				<option value="LU">Luxembourg</option>
				<option value="MO">Macau</option>
				<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
				<option value="MG">Madagascar</option>
				<option value="MW">Malawi</option>
				<option value="MY">Malaysia</option>
				<option value="MV">Maldives</option>
				<option value="ML">Mali</option>
				<option value="MT">Malta</option>
				<option value="MH">Marshall Islands</option>
				<option value="MQ">Martinique</option>
				<option value="MR">Mauritania</option>
				<option value="MU">Mauritius</option>
				<option value="YT">Mayotte</option>
				<option value="MX">Mexico</option>
				<option value="FM">Micronesia, Federated States of</option>
				<option value="MD">Moldova, Republic of</option>
				<option value="MC">Monaco</option>
				<option value="MN">Mongolia</option>
				<option value="MS">Montserrat</option>
				<option value="MA">Morocco</option>
				<option value="MZ">Mozambique</option>
				<option value="MM">Myanmar</option>
				<option value="NA">Namibia</option>
				<option value="NR">Nauru</option>
				<option value="NP">Nepal</option>
				<option value="NL">Netherlands</option>
				<option value="AN">Netherlands Antilles</option>
				<option value="NC">New Caledonia</option>
				<option value="NZ">New Zealand</option>
				<option value="NI">Nicaragua</option>
				<option value="NE">Niger</option>
				<option value="NG">Nigeria</option>
				<option value="NU">Niue</option>
				<option value="NF">Norfolk Island</option>
				<option value="MP">Northern Mariana Islands</option>
				<option value="NO">Norway</option>
				<option value="OM">Oman</option>
				<option value="PK">Pakistan</option>
				<option value="PW">Palau</option>
				<option value="PA">Panama</option>
				<option value="PG">Papua New Guinea</option>
				<option value="PY">Paraguay</option>
				<option value="PE">Peru</option>
				<option value="PH">Philippines</option>
				<option value="PN">Pitcairn</option>
				<option value="PL">Poland</option>
				<option value="PT">Portugal</option>
				<option value="PR">Puerto Rico</option>
				<option value="QA">Qatar</option>
				<option value="RE">Reunion</option>
				<option value="RO">Romania</option>
				<option value="RU">Russian Federation</option>
				<option value="RW">Rwanda</option>
				<option value="KN">Saint Kitts and Nevis</option>
				<option value="LC">Saint LUCIA</option>
				<option value="VC">Saint Vincent and the Grenadines</option>
				<option value="WS">Samoa</option>
				<option value="SM">San Marino</option>
				<option value="ST">Sao Tome and Principe</option>
				<option value="SA">Saudi Arabia</option>
				<option value="SN">Senegal</option>
				<option value="SC">Seychelles</option>
				<option value="SL">Sierra Leone</option>
				<option value="SG">Singapore</option>
				<option value="SK">Slovakia (Slovak Republic)</option>
				<option value="SI">Slovenia</option>
				<option value="SB">Solomon Islands</option>
				<option value="SO">Somalia</option>
				<option value="ZA">South Africa</option>
				<option value="GS">South Georgia and the South Sandwich Islands</option>
				<option value="ES">Spain</option>
				<option value="LK">Sri Lanka</option>
				<option value="SH">St. Helena</option>
				<option value="PM">St. Pierre and Miquelon</option>
				<option value="SD">Sudan</option>
				<option value="SR">Suriname</option>
				<option value="SJ">Svalbard and Jan Mayen Islands</option>
				<option value="SZ">Swaziland</option>
				<option value="SE">Sweden</option>
				<option value="CH">Switzerland</option>
				<option value="SY">Syrian Arab Republic</option>
				<option value="TW">Taiwan, Province of China</option>
				<option value="TJ">Tajikistan</option>
				<option value="TZ">Tanzania, United Republic of</option>
				<option value="TH">Thailand</option>
				<option value="TG">Togo</option>
				<option value="TK">Tokelau</option>
				<option value="TO">Tonga</option>
				<option value="TT">Trinidad and Tobago</option>
				<option value="TN">Tunisia</option>
				<option value="TR">Turkey</option>
				<option value="TM">Turkmenistan</option>
				<option value="TC">Turks and Caicos Islands</option>
				<option value="TV">Tuvalu</option>
				<option value="UG">Uganda</option>
				<option value="UA">Ukraine</option>
				<option value="AE">United Arab Emirates</option>
				<option value="GB">United Kingdom</option>
				<option value="US">United States</option>
				<option value="UM">United States Minor Outlying Islands</option>
				<option value="UY">Uruguay</option>
				<option value="UZ">Uzbekistan</option>
				<option value="VU">Vanuatu</option>
				<option value="VE">Venezuela</option>
				<option value="VN">Viet Nam</option>
				<option value="VG">Virgin Islands (British)</option>
				<option value="VI">Virgin Islands (U.S.)</option>
				<option value="WF">Wallis and Futuna Islands</option>
				<option value="EH">Western Sahara</option>
				<option value="YE">Yemen</option>
				<option value="ZM">Zambia</option>
				<option value="ZW">Zimbabwe</option>
			</select>
          </div>
		  <div class="form-group">
            <label for="emailaddr">Email Address</label>
            <input class="form-control" id="emailaddr" type="email" aria-describedby="addressHelp" name="email" value="" required="required" placeholder="Enter your email" />
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password" value="" placeholder="Enter password" equired="required" />
                <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
              </div>
             <div class="col-md-6">
                <label for="matchPassword">Confirm password</label>
                <input class="form-control" id="matchPassword" type="password" name="matchingPassword" value="" placeholder="Confirm password" required="required" />
              </div>
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-block" id="submitbtn" name="submit" value="Register" />
          <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" th:href="@{/login}">Login Page</a>
          <a class="d-block small" th:href="@{forgetPassword.html}">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- Core plugin JavaScript-->
  <script th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
  <script th:inline="javascript">
	/*<![CDATA[*/
	var serverContext = [[@{/}]];

	$(document).ready(function () {
		$('form').submit(function(event) {
			register(event);
		});
		
		$(":password").keyup(function(){
			if($("#password").val() != $("#matchPassword").val()){
				$("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
			}else{
				$("#globalError").html("").hide();
			}
		});
		
		options = {
				common: {minChar:8},
				ui: {
					showVerdictsInsideProgressBar:true,
					showErrors:true,
					errorMessages:{
						  wordLength: /*[[#{error.wordLength}]]*/,
						  wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
						  wordSequences: /*[[#{error.wordSequences}]]*/,
						  wordLowercase: /*[[#{error.wordLowercase}]]*/,
						  wordUppercase: /*[[#{error.wordUppercase}]]*/,
							  wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
						  wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
						}
					}
			};
		 $('#password').pwstrength(options);
	});

	function register(event){
		event.preventDefault();
		$(".alert").html("").hide();
		$(".error-list").html("");
		if($("#password").val() != $("#matchPassword").val()){
			$("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
			return;
		}
		
		/*$.getJSON('//freegeoip.net/json/?callback=?', function(data) {
			alert(JSON.stringify(data, null, 2));
		});*/
		
		var formData= $('form').serialize();
		$.post(serverContext + "user/registration",formData ,function(data){
			if(data.message == "success"){
				window.location.href = serverContext + "successRegister.html";
			}
			
		})
		.fail(function(data) {
			alert(data.responseJSON.message);
			if(data.responseJSON.error.indexOf("MailError") > -1)
			{
				window.location.href = serverContext + "emailError.html";
			}
			else if(data.responseJSON.error == "UserAlreadyExist"){
				$("#emailError").show().html(data.responseJSON.message);
			}
			else if(data.responseJSON.error.indexOf("InternalError") > -1){
				window.location.href = serverContext + "login?message=" + data.responseJSON.message;
			}
			else{
				var errors = $.parseJSON(data.responseJSON.message);
				$.each( errors, function( index,item ){
					$("#"+item.field+"Error").show().html(item.defaultMessage);
				});
				errors = $.parseJSON(data.responseJSON.error);
				$.each( errors, function( index,item ){
					$("#globalError").show().append(item.defaultMessage+"<br/>");
				});
			}
		});
	}
	/*]]>*/ 

	</script>
</body>

</html>
